.dart_tool/
build/
.dartServer/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
coverage/
.libs/
*.g.dart
*.freezed.dart
.flutter-plugins
*.iml
.idea/
*.log
*.lock
.DS_Store
*.zip
*.exe
